<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
               packages="com.postgredemo">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>PostgreDemo %d{yyyy-MM-dd HH:mm:ss,SSS Z} %p %sn [%t] %c{1} - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>